{:require [avenir.utils avenir.math]
 :compiler-options {:asset-path "js/app.out"
                    :source-map true
                    :source-map-timestamp true
                    :verbose false
                    :cache-analysis true
                    :optimizations :whitespace
                    :pretty-print false}}
